# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# OS-specific files
.DS_Store
.DS_Store?
._*
Thumbs.db
desktop.ini

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# User-specific files
remarks.md

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs
.vscode/
.idea/

#backup folder
backups/